@import url('reset.css');
body{
    background-image: url('../img/bg.png');
    font-family: Tahoma;
    font-size: 14px;
}
.google-head{
    width: 100%;
    height: 38px;
    background: url('../img/googlehead.png')no-repeat;
}
.wrapper{
    width: 1000px;
    height: 906px;
    margin: 0 auto 30px;
    background-color: white;
    box-shadow: 1px 5px 15px 1px #000000;
}
.header{
    h165px;
    color: #128aa7;
    padding: 10px 20px 0;
}
.logo {
    width: 344px;
    height: 164px;
    float: left;
    background: url('../img/logo.png') no-repeat;
}
.logo p{
    position: relative;
    top: 100px;
    left: 70px;
    font-size: 14px;
}
.contacts-box{
    width:50%;
    float: right;
}
.contacts {
    float: right;
}
.contacts p:first-child{
    font-weight: bold;
    line-height: 25px;
}
.contacts p{
    line-height: 15px;
}
.countries {
    display: block;
    float: right;
    width: 380px;
    margin-top: 20px;
}
.countries ul {
    float: none;
}
.countries li {
    float: left;
    margin-left: 19px;
}
.countries li a {
    font-size: 10px;
    display: block;
    text-align: center;
    color: #128aa7;
}
.countries li a:before {
    content: '';
    display: block;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
}
.india {
    background: url('../img/india.png') center no-repeat;
}

.nepal {
    background: url('../img/nepal.png') center no-repeat;
}

.tibet {
    background: url('../img/tibet.png') center no-repeat;
}

.butan {
    background: url('../img/butan.png') center no-repeat;
}

.shri-lanka {
    background: url('../img/shri-lanka.png') center no-repeat;
}

.maldivi {
    background: url('../img/maldivi.png') center no-repeat;
}
.banner{
    clear: both;
    height:237px;
    border-top: 1px solid #138aa7;
    border-bottom: 1px solid #138aa7;
    background-image: url('../img/banner.jpg');
}
.menu {
    border-bottom: 1px solid #000000;
    height: 30px;
    background: #333333;
}
.menu ul {
    display: none;
    background: #333333;
    position: absolute;
    top: 100%;
}

.menu li {
    float: left;
    position: relative;
    height: 100%;
    padding-left: 5px;
}
.menu li:hover ul {
    display: block;
}
.menu li a {
    display: block;
    width: 102px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px 0 5px;
}
.main {
    background: url('../img/background.png') repeat-y;
    width: 1000px;
    font-size: 14px;
    color: #424c43;
    float: left;
}

.main-block {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    float: left;
    width: 578px;
    background-color: white;
}
.news, .info {
    background: url('../img/background.png') repeat-y;

    width: 180px;
    padding: 9px 15px;
}
.info {
    float: left;
}
.news {
    float: right;
}
.news h3, .info h3 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.news p, .info p {
    line-height: 20px;
}
.footer {
    font-size: 13px;
    padding-top: 10px;
    clear: both;
    text-align: center;
    color: white;
}
