@import "reset.css";
body{
    font-family: Tahoma, Arial, sans-serif;
    height: 1215px;
    background: url('../img/bg.png')95% 95% no-repeat;
    background-size: cover;
}
.header{
    height: 35px;
    background-color: #074f8d;
}
.menu{
    display: inline-block;
    float: right;
}
.menu ul{
    display: inline-block;
    border-right: 1px solid  #60b5ed;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #60b5ed;
    font-size: 14px;
    text-decoration: none;
    line-height: 35px;
    padding: 10px 15px 9px;
}
.menu li a:hover, .minh:hover{
    color:white;
    background-color: #60b5ed;
}
.minh{
    display: inline-block;
    float:right;
}

.minh a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px 0px;
    line-height: 35px;
}

.minh a:before {
    content: '';
    display: block;
    float: left;
    margin-top: 7px;
    margin-left: 20px;
    width: 21px;
    height: 23px;
    background: url('../img/flag.png') no-repeat;
}
.ola{
    display: block;
    float: right;
    background: linear-gradient(to bottom, #50afdc, #2e7ac4);
    line-height: 33px;
    border: 1px solid #4299d2;
    border-radius:1px;
    font-size: 14px;
    color:white;
    padding: 0px 10px;
    margin-right: 15px;
}
.content{
    margin-top: 215px;
}
.ola a{
    color:white;
    padding:5px;
}
.cadastre{
    margin: auto;
    width: 560px;
    height: 62px;
    background-color: rgba(89, 89, 89, 0.6);
}
form{
    margin: auto;
    margin-top: 2px;
    width: 560px;
    height: 550px;
    background-color: rgba(89, 89, 89, 0.6);
    text-align: center;
    line-height: 37px;
    color:#cccccc;
}
.cadastre p{
    color: #ffffff;
    line-height: 62px;
    text-align: center;
    font-size: 24px;
}
.fbbutton{
    background: url('../img/fb.png') no-repeat;
    width: 276px;
    height: 38px;
    border: none;
    margin-top:30px;
}
form p{
    background: url('../img/OU.png') center no-repeat;
    color: #c1bdbd;
}
input{
    margin-top: 20px;
    background-color: #0f0f0f;
    margin-left: 2px;
    color:#cccccc;
    width: 246px;
    height: 35px;
    padding: 0 15px;
    border: none;
    border-bottom: 1px solid #484948;
    border-radius: 2px;
}
input:hover{
    background-color: #1b5288;
    color: white;
    box-shadow: 0 0 7px 2px #2f7bc5;
}
.send{
    width: 15px;
    height: 15px;

    line-height: 15px;
}
.send:hover{
    box-shadow: none;
}
.sendme{
    margin-left: -40px;
    background: none;
    font-size: 14px;
}
button{
    margin-top: 25px;
    width: 150px;
    height: 35px;
    background: linear-gradient(to bottom,#50aedb,#2e7ac4);
    border:none;
    Color:white;
    border-radius: 2px;
}
.footer{
    margin-top: 10px;;
}
.footer p{
    font-size: 11px;
    background: none;
    line-height: 14px;
}
